aiogram>=3.0.0
fastapi
uvicorn
firebase-admin
openai
pytz
gradio_client
Flask
google-cloud-firestore
python-dotenv
requests
python-telegram-bot
hugchat
hugchat[login]  # For authentication support
python-multipart